body{
    display: flex;
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.centro{
    float: left;
    margin-top: 4rem;
    max-width: fit-content;
    border-radius: 5px;
    -webkit-box-shadow: -14px 12px 19px -6px rgba(203, 213, 238, 0.57);
    -moz-box-shadow: -14px 12px 19px -6px rgba(202, 213, 241, 0.57);
    box-shadow: -14px 12px 19px -6px rgba(185, 200, 238, 0.57);
}

.info{
    display: none;
    float: right;
    margin-top: 4rem;
    width: 450px;
    border-radius: 5px;
    -webkit-box-shadow: -14px 12px 19px -6px rgba(203, 213, 238, 0.57);
    -moz-box-shadow: -14px 12px 19px -6px rgba(202, 213, 241, 0.57);
    box-shadow: -14px 12px 19px -6px rgba(185, 200, 238, 0.57);
    
}

.info_text{
    height: 380px;
    margin-left: 1rem;
    overflow-y: scroll;
}

h1{
    margin-left: 15%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label{
    margin-left: 2rem;
    font-weight: bold;
}

input{
    margin-top: 0.5rem;
    margin-left: 2rem;
}

button{
    border: none;
    background: #383e9b;
    width: 100%;
    height: 60px;
    margin-top: 2rem;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: #5058c5;
}